body {
    background-image: linear-gradient(#5C3B85, #F597B9, #F09F9A,#F597B9, #355070);
    background-size: 300% 300%;
    height: 100vh;
    animation: gradient 10s ease infinite alternate;
}

h1{
    color:white;
    margin: 5.5% 0% 5.5% 10%;
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

#logo-name {
    text-align: left;
    display: flex
}

#logo-name i:hover {
    cursor: pointer;
}

#navbar-menu {
    display: inline-flex;
}

#navbar-menu a {
    margin: 3% 0% 3% 10%;
    padding: 2% 3% 2% 3%; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

#navbar-menu a:hover{
    background-color: rgba(53, 80, 112, 0.6); 
}

h4 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
}

#btn-primary {
    background-color: #355070;
    color: white;
    padding: 3%;
    border-radius: 5px;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-style: none;
    font-size: 20px;
}

#btn-primary:hover {
    background-color: #355070;
    opacity: 80%;
    transition: opacity 0.3s;
}

#bio {
    padding: 5% 5% 5% 10%;
}

i {
    color: white;
    padding: 0 5px 0 10px;
}

p {
    color: white;
    font-size: 120%;
    font-family: "Radio Canada", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#logo-name i {
    display: none;
}

.extend-navbar-menu{
    display: none;
    width: 50%;
    background-color: white;
    position:absolute;
    right: 2%;
    top: 10%;
    border-radius: 2px;
    list-style-type: none;
    animation-name: extend-navbar-menu;
    animation-duration: 0.5s;
}

.extend-navbar-menu li{
    margin: 3% 0 3% 0;
    padding: 5% 3% 5% 3%;
    color: #355070;
    transition: background-color 0.3s;
    border-radius: 2px;
}

.extend-navbar-menu li a{
    text-decoration: none;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #355070;
    transition: opacity 0.3s;
}

.extend-navbar-menu li a:hover{
    opacity: 50%;
}

/* Image styler */
#my-photo {
    padding: 5%;
    margin: 1% 0 5% 2%;
    text-align: center;
    height: 90%;
    width: 73%;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
}

@media (max-width: 992px){
    h1 {
        margin: 5% 0% 5% 3%;
    }
    #navbar-menu{
        display: none;
    }
    #logo-name i {
        display: block;
        padding: 5% 0 5% 0;
        position: absolute;
        right: 3%;
    }
    #introduction {
        display: flex;
        flex-direction: column-reverse;
    }

    .extend-navbar-menu{
        display: block;
    }
    
    #my-photo {
        margin: 1% 0 5% 15%;
    }
}

@media (max-width: 400px){
    .extend-navbar-menu{
        top: 8%;
    }
}

@keyframes extend-navbar-menu {
    0% {top: 7%; opacity: 70%};
    25% {top: 8%; opacity: 80%};
    50% {top: 9%; opacity: 90%};
    100% {top: 10%; opacity: 100%};
}

@keyframes gradient {
    0%   {background-position: 100% 100%};
    100%  {background-position: 100% 0%};
}

